.body{
    
    width: 100%;
    height: 100%;
}
.login{
  width: 30%;
  margin: auto;
  border: 1px solid rgb(188, 171, 171);
  margin-top: 50px;
  padding: 40px;
  background-color: white;
}
.email{
    padding : 20px 20px;
    margin-top: 50px;
}
.email h2{
    text-align: center;
    /* font-family:'Courier New', Courier, monospace; */
    font-weight: 500;
    color: rgb(92, 92, 124);
    margin-bottom: 20px;
}
.loginButton{
    margin: 0 60px;
    text-align: center;
}
Button:hover{
    background-color: rgb(74, 74, 237);
}
p{
    text-align: center;
    margin:30px 0 60px 0;
}
a{
    width: auto;
}