<app-navigation-bar></app-navigation-bar>

<div class="body">
  <div class="login"> 
  <form [formGroup]="loginForm" (ngSubmit)="Login()">
    <div class="email">
      <label for="login" class="container"> <h2>Login</h2> </label><br />



      <label for="exampleInputEmail1" class="form-label" style="color: black;">Email </label>

      
      <input type="email" formControlName="email" class="form-control" placeholder="email" id="useremail">
      <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" >*User email required</span>
    </div><br>


    <label for="exampleInputPassword1" class="form-label" style="color: black;">Password</label>
      
      <input type="password" formControlName="password" class="form-control" placeholder="password" id="userpassword"> 
      <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" >*User password required</span>
    
    <br>
    <div class="loginButton">
    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Login</button>

  </div>
  </form>
  <div class="register">
    <a style="text-align:center" routerLink="/registration-page">New user? Click to register!!</a>
  </div>
</div>



