<nav class="navbar navbar-light  bg-light">
    <div class="container-fluid">
        <h1>Completed Books</h1>
        <div class="d-flex">
            <button routerLink="/user-home" class="btn btn-primary">Back to Home</button>
        </div>
    </div>
</nav> 
<table class="table table-striped">
    <thead class="table table-dark">
        <tr>
            <th>Book ID</th>
            <th>Book Name</th> 
            <th>Author</th>
            <th>Price</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let value of completedBookData">
            <td>{{value.BookID}}</td>
            <td>{{value.BookName}}</td>
            <td>{{value.Author}}</td>
            <td>{{value.Price}}</td>
        </tr>
    </tbody>
</table>



