<nav class="navbar navbar-light  bg-light">
    <div class="container-fluid">
    
        <h1>MagicOfBooks</h1>
        <div class="d-flex">
            <button routerLink="/login-page" class="btn btn-primary mx-3">Sign in</button>
            <button routerLink="/registration-page" class="btn btn-primary ">Sign up</button>
        </div>
    </div>
</nav>
<table class="table mt-4 table-striped">
    <thead>
        <tr class="table table-dark"> 
            <th>S.No.</th>
            <th>Book-Id</th>
            <th>Book-Name</th>
            <th>Writer</th>
            <th>Cost</th>
        </tr> 
    </thead>
    <tbody> 
        <tr *ngFor="let value of bookData">
            <td>{{value.id}}</td>
            <td>{{value.BookID}}</td>
            <td>{{value.BookName}}</td>
            <td>{{value.Author}}</td>
            <td>{{value.Price}}</td>
        </tr>
    </tbody>
</table>

