<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <h1>MagicOfBooks</h1>
        <div class="d-flex">
            <button (click)="clickAddBook()" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                class="btn btn-primary">Add
                Books</button>
                &nbsp;
            <!-- below button redirect to wishlist page -->
            <button routerLink="/wishlist" class="btn btn-primary">Wishlisted</button>
            <!-- below button redirect to completed book page -->&nbsp;
            <button routerLink="/completedbooks" class="btn btn-primary">completedBooks</button>
            <!-- user can logout with below button -->&nbsp;
            <button routerLink="/login-page" class="btn btn-danger">Logout</button>

        </div>
    </div>
</nav>
<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3" *ngFor="let value of bookData">
                <div class="card shadow-sm">
                    <img src={{value.url}} style="height: 300px;">
                    <div class="card-body">
                        <h4>Rs:{{value.Price}}</h4>
                

                        <button (click)="onEdit(value)" class="btn btn-outline-primary" type="button" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"><img src="assets/icons/ee.png " style="height: 25px;"></button>&nbsp;
                <button (click)="deleteBook(value)" class="btn btn-outline-primary"><img src="assets/icons/d.png " style="height: 25px;"></button>&nbsp;
                <button (click)="wishlistBook(value)" class="btn btn-outline-primary"><img src="assets/icons/w.png " style="height: 25px;"></button>&nbsp;
                <button (click)="completedBook(value)" class="btn btn-outline-primary"><img src="assets/icons/c.png " style="height: 25px;"></button>&nbsp;

                        
                    


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="user-input">
                        <label for="bookid" class="form-label">Book ID:</label><br>
                        <input type="text" formControlName="BookID" required class="form-control"
                            placeholder="Enter Book Id" id="bookid">
                    </div><br>
                    <div class="user-input">
                        <label for="bookName" class="form-label">Book Name:</label><br>
                        <input type="text" formControlName="BookName" required class="form-control"
                            placeholder="Enter Book Name" id="bookName">
                    </div><br>
                    <div class="user-input">
                        <label for="author" class="form-label">Author:</label><br>
                        <input type="text" formControlName="Author" required class="form-control"
                            placeholder="Enter Author Name" id="author">
                    </div><br>
                    <div class="user-input">
                        <label for="url" class="form-label">Enter url</label><br>
                        <input type="text" formControlName="url" required class="form-control"
                            placeholder="Enter url" id="url">
                    </div><br>
                    <div class="user-input">
                        <label for="cost" class="form-label">Price:</label><br>
                        <input type="text" formControlName="Price" required class="form-control" placeholder="Price"
                            id="cost">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="!showAdd" type="button" (click)="postBookDetails()"
                    class="btn btn-primary">Add</button>
                <button [disabled]="!showUpdate" type="button" (click)="updateBookDetails()"
                    class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

