<app-navigation-bar></app-navigation-bar>

<div class="body">
    <div class="register">
        
    
    <form [formGroup]="registerForm" (ngSubmit)="Register()">

        
        <label for="register" class="container">
            <h2>Register Here</h2>
         </label><br>
         
            <div class="col">
                <label for="userfname" class="form-label">First Name:</label><br>
            <input type="text" formControlName="firstname" class="form-control" placeholder="first name"
                id="userfemail">
                <span class="text-danger" *ngIf="registerForm.controls['firstname'].dirty && registerForm.hasError('required','firstname')" >*First Name is required</span> 
            </div>
        <div class="col">
            <label for="userlname" class="form-label">Last Name:</label><br>
            <input type="text" formControlName="lastname" class="form-control" placeholder="last name" id="userlemail">
            <span class="text-danger" *ngIf="registerForm.controls['lastname'].dirty && registerForm.hasError('required','lastname')" >*Last Name is required</span>
        </div>
    
    <br />
        <div class="mb-3">
            <label for="useremail" class="form-label">Email address:</label><br>
            <input type="email" formControlName="emailadd" class="form-control" placeholder="email" id="useremail">
            <span class="text-danger" *ngIf="registerForm.controls['emailadd'].dirty && registerForm.hasError('required','emailadd')" >*User email is required</span>
        </div>
        <div class="mb-3">
            <label for="userpassword" class="form-label">Password:</label><br>
            <input type="password" formControlName="password" class="form-control" placeholder="password"
                id="userpassword">
                <span class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required','password')" >*User password is required</span>
        </div>
        <br>
        <div class="registerButton">
        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Register</button>
    </div>
    </form>
    <div class="login">
        <a routerLink="/login-page">Already registered? Click to login!!</a>
    </div>
</div>
</div>
