<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <h1>MagicOfBooks</h1>
        <div class="d-flex">
            <button (click)="clickAddBook()" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                class="btn btn-primary">Add
                Books</button>
                &nbsp;
            <!-- below button redirect to wishlist page -->
            <button routerLink="/wishlist" class="btn btn-primary">Wishlisted</button>
            <!-- below button redirect to completed book page -->&nbsp;
            <button routerLink="/completedbooks" class="btn btn-primary">completedBooks</button>
            <!-- user can logout with below button -->&nbsp;
            <button routerLink="/login-page" class="btn btn-danger">Logout</button>

        </div>
    </div>
</nav>
<table class="table mt-4 table-striped">
    <thead class="table table-dark">
        <tr>
            <th>S.No</th>
            <th>Book-ID</th>
            <th>Book-Name</th>
            <th>Author</th>
            <th>Cost</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let value of bookData">
            <td>{{value.id}}</td>
            <td>{{value.BookID}}</td>
            <td>{{value.BookName}}</td>
            <td>{{value.Author}}</td>
            <td>{{value.Price}}</td>
            <td>
                <button (click)="onEdit(value)" class="btn btn-secondary" type="button" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"> Edit</button>&nbsp;
                <button (click)="deleteBook(value)" class="btn btn-danger">Delete</button>&nbsp;
                <button (click)="wishlistBook(value)" class="btn btn-primary">WishList</button>&nbsp;
                <button (click)="completedBook(value)" class="btn btn-primary">CompleteBook</button>&nbsp;
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="user-input">
                        <label for="bookid" class="form-label">Book ID:</label><br>
                        <input type="text" formControlName="BookID" required class="form-control"
                            placeholder="Enter Book Id" id="bookid">
                    </div><br>
                    <div class="user-input">
                        <label for="bookName" class="form-label">Book Name:</label><br>
                        <input type="text" formControlName="BookName" required class="form-control"
                            placeholder="Enter Book Name" id="bookName">
                    </div><br>
                    <div class="user-input">
                        <label for="author" class="form-label">Author:</label><br>
                        <input type="text" formControlName="Author" required class="form-control"
                            placeholder="Enter Author Name" id="author">
                    </div><br>
                    <div class="user-input">
                        <label for="cost" class="form-label">Price:</label><br>
                        <input type="text" formControlName="Price" required class="form-control" placeholder="Price"
                            id="cost">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="!showAdd" type="button" (click)="postBookDetails()"
                    class="btn btn-primary">Add</button>
                <button [disabled]="!showUpdate" type="button" (click)="updateBookDetails()"
                    class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
